<div class="logo">
  <% if current_page.url == '/' %>
    <h1 class="logo__heading">what<em>red</em>read</h1>
  <% else %>
    <% link_to '/', :class => 'logo__heading' do %>
      what<em>red</em>read
    <% end %>
  <% end %>
</div>
