<nav class="navigation navigation--primary" role="navigation">
  <ul class="navigation__list">
    <li class="navigation__item navigation__item--first navigation__item--1">
      <a class="navigation__link" href="#"><span class="navigation__copy">Home</span></a>
    </li>
    <li class="navigation__item navigation__item--2">
      <a class="navigation__link" href="#"><span class="navigation__copy">About</span></a>
    </li>
    <li class="navigation__item navigation__item--3">
      <a class="navigation__link" href="#"><span class="navigation__copy">Shelf</span></a>
    </li>
    <li class="navigation__item navigation__item--last navigation__item--4">
      <a class="navigation__link" href="#"><span class="navigation__copy">Contact</span></a>
    </li>
  </ul>
</nav>
