<nav class="navigation navigation--primary" role="navigation">
  <ul class="navigation__list">
    <li class="navigation__item navigation__item--first navigation__item--1">
      <a class="navigation__link" href="/bookshelf"><span class="navigation__copy">Bookshelf</span></a>
    </li>
    <li class="navigation__item navigation__item--2">
      <a class="navigation__link" href="/contact"><span class="navigation__copy">Contact</span></a>
    </li>
    <li class="navigation__item navigation__item--3">
      <a class="navigation__link" href="/search"><span class="navigation__copy">Search</span></a>
    </li>
  </ul>
</nav>
