html {
  color:#333;
  background:#F5F5F5;
  @extend %font-serif;
  font-size:$base-font-size-px-mobile;
  @include media($tablet) {
    font-size:$base-font-size-px-tablet;
  }
  @include media($desktop) {
    font-size:$base-font-size-px-desktop;
  }
}

.page {
  overflow-x:hidden;
  @include media($desktop) {
    overflow-x:visible;
  }
}

.hero {
  display:none;
  @include media($desktop) {
    display:block;
    height:em(300);
    width:100%;
    background-attachment:fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 0%;
    border-top:5px solid #C43331;
    border-bottom:5px solid #C43331;
  }
}

$layer-top:10;

.header {
  position:fixed;
  z-index:$layer-top;
  top:0;
  left:0;
  width:100%;
  background:#F5F5F5;
  border-bottom:1px solid #DDDDDD;
  height:em(50);
  line-height:em(50);
  @include media($desktop) {
    @include outer-container;
    border-bottom:none;
    max-width:$width-desktop-max;
    position:relative;
    padding:0;
    border:none;
    height:em(75);
    line-height:em(75);
    border-bottom:5px solid #C43331;
  }
}

.page.index {
  @include media($desktop) {
    .header {
      border-bottom:none;
    }
  }
}

.logo {
  text-align:center;
  .logo__heading {
    color:#333;
    font-size:em(24);
    @extend %font-sans-serif-super-bold;
    text-transform:uppercase;
    em {
      text-transform:lowercase;
      font-style:italic;
      color:#C43331;
      @extend %font-serif;
      padding:0 .15em;
      font-size:em(38, 24);;
    }
  }
  @include media($tablet) {
  }
  @include media($desktop) {
    @include span-columns(4);
    text-align:left;
  }
}

.toggle {
  cursor:pointer;
  &[data-target="navigation"] {
    outline:none;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    font-size:em(24);
    color:#949494;
    background:none;
    border:none;
    padding:.25rem 1rem 0 0;
    margin:0;
    @include transition(color .5s ease-in-out);
    &:before {
      @extend %icon-menu;
      display:block;
    }
    @include media($tablet) {
      font-size:em(25);
    }
    @include media($desktop) {
      display:none;
    }
  }
}

.overlay {
  background:#000;
  @include transition(opacity .5s ease-in-out);
  opacity:0;
  height:100%;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:10;
}

.main {
  @include outer-container;
  position:relative;
  padding-left:5%;
  padding-right:5%;
  width:100%;
  padding-top:3.625em;
  @include transform(translateX(0px));
  @include transition-property(transform);
  @include transition-duration(.5s);
  @include transition-timing-function(ease-in-out);
  @include media($tablet) {
    padding-left:0;
    padding-right:0;
    max-width:$width-tablet-max;
  }
  @include media($desktop) {
    max-width:$width-desktop-max;
  }
}


.navigation {
  // box-shadow:2000px 0px 0px 2000px rgba(50, 50, 50, 0);
  width:250px;
  @include transform(translateX(-250px));
  @include transition-property(transform);
  @include transition-duration(.5s);
  @include transition-timing-function(ease-in-out);
  top:em(50);
  position:fixed;
  background: #666;
  height:100%;
  z-index:20;
  .navigation__item {
    height:50px;
    line-height:50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .navigation__link {
    color:#FFF;
    display:block;
    padding-left:20px;
    text-transform:uppercase;
    @extend %font-sans-serif-bold;
  }
  @include media($desktop) {
    height:auto;  
    background:none;
    padding:0;
    @include span-columns(8);
    position:relative;
    top:0;
    @include transform(translateX(0px));
    float:right;
    .navigation__list {
      text-align:right;
    }
    .navigation__item {
      display:inline-block;
      height:auto;
      line-height:em(75);
      border-top:none;
      border-bottom:none;
      padding-left:2em;
      &:first-child {
        padding-left:0;
      }
    }
    .navigation__link {
      color:#333;
      padding:0;
      display:inline-block;
      font-size:em(12);
      font-weight:400;
    }
  }
}

.active--navigation {
  .navigation {
    @include transform(translateX(0px));
  }
  .main {
    @include transform(translateX(250px));
  }
  .toggle[data-target="navigation"] {
    color:#DD9493;
  }
}

.active--overlay {
  .navigation {
  }
}

.active--reading {
  @include media($desktop) {
    .header, .navigation {
      opacity:.2;
    }
  }
}

.article {
  padding-top:$scale2;
  margin-bottom:$scale4;
  border-top:5px solid #C43331;
  .article__title {
    font-style:italic;
    font-size:$scale2;
    line-height:$scale;
    text-align:center;
    a {
      color:#333;
    }
    em {
      @extend %font-sans-serif-super-bold;
      text-transform:uppercase;
    }
  }
  .article__byline {
    margin:$scale2 0 $scale;
    border-top:1px solid #333; 
    display:block;
    font-size:$scale;
    text-align:center;
  }
  .article__timestamp {
    position:relative;
    background:#F5F5F5;
    top:-$scale-1;
    padding:0 1em; 
  }
  .article__body {
    font-size:$scale;
    line-height:$scale1;
        &:first-letter {
          font-size:em(32);
          padding-right:1px;
        }
    a {
    }
    p {
      margin:$scale 0;
    }
    img {
      margin-top:1em;
      margin-bottom:1em;
    }
    &>p {
      &:first-child {
        margin-top:0;
      }
    }
    blockquote {

    }
    code {
      position:relative;
      top:-$scale-1;
      font-size:$scale-1;
      color:#C43331;
      padding:0 $scale-4;
    }
    img {
      display:block;
      max-width:100%;
      margin-left:auto;
      margin-right:auto;
      background:white;
      padding:10px;
      border:1px solid #CCC;
    }
  }
  .article__readmore {
    display:block;
    margin-top:1em;
  }
  &:first-child {
    border-top:none;
  }
  @include media($tablet) {
    @include span-columns(10);
    @include shift(1);
    &:first-child {
      margin-top:em(100);
      padding-top:0;
      .article__body {
        img {
          max-width:50%; 
        }
      }
    }
    &.article--summary {
      .article__body {
        @include columns(2);
        @include column-gap(2em);
      }
    }
  }
  @include media($desktop) {
    .article__title {
      a {
        &:hover {
          color:$color-text-link;
        }
      }
    }
    &:first-child {
      margin-top:em(0);
    }
  }
}

.pagination {
  margin-bottom:2em;
  @include media($tablet) {
    @include span-columns(10);
    @include shift(1);
  }
  @include media($desktop) {
  }
}

.share {
  @include clearfix;
  text-align:center;
  margin-bottom:1em;
  .share__item {
    display:inline-block;
  }
  .share__link {
    display:inline-block;
    font-size:$scale1;
    height:2em;
    line-height:2em;
    width:2em;
  }
  .share__copy {
    @include hide-text;
  }
  .share__item--facebook {
    .share__link:before {
      @extend %icon-facebook;
    }
  }
  .share__item--twitter {
    .share__link:before {
      @extend %icon-twitter;
    }
  }
  .share__item--email {
    .share__link:before {
      @extend %icon-mail;
    }
  }
  .share__item--print {
    .share__link:before {
      @extend %icon-print;
    }
  }
  .share__item--comments {
    .share__link:before {
      @extend %icon-comment;
    }
  }
}

.comments {
  position:relative;
  margin-top:em(100);
  .comments__mask {
    display:none;
    background:#F5F5F5;
    position:absolute;
    &.comments__mask--topright {
      top:0;
      right:0;
      width:50%;
      height:70px;
    }
    &.comments__mask--bottom {
      bottom:0;
      left:0;
      width:100%;
      height:175px;
    }
  }
  @include media($tablet) {
    .comments__mask {
      &.comments__mask--bottom {
        height:55px;
      }
    }
  }
}

.dictionary {
  &.dictionary--contact {
    .dictionary__term {
    }
    .dictionary__definition {

    }
  }
}



.page {
  .page__content {
    padding-bottom:em(100);
  }
  
}

.listing {
  .listing__item {
    @include clearfix;
  }
  .listing__link {
    display:block;
    @include clearfix;
  }
  &.listing--books {
    .listing__image {
      width:100px;
      opacity:.5;
    }
  }
  @include media($tablet) {
    &.listing--books {
      .listing__item {
        float:left;
        width:50%;
        padding-right:5%;
      }
    }
  }
  @include media($desktop) {
    &.listing--books {
      .listing__item {
        @include fill-parent;
        margin-bottom:.5em;
      }
    }
  }
}

.footer {
  background:#442626;
  @include clearfix;
  padding-bottom:em(100);
  .footer__inner {
    padding-left:5%;
    padding-right:5%;
  }
  .footer__section {
    margin-top:2em;
    @include span-columns(12);
  }
  .footer__heading {
    color:#B06261;
    @extend %font-sans-serif;
    font-size:em(14);
    margin:1em 0;
    border-bottom:1px solid #B06261;
    a {
      color:#B06261;
      &:hover {
        color:lighten(#B06261, 10%);
      }
    }
    &.footer__heading--no-underline {
      border-bottom:none;
    }
  }
  .footer__content {
    color:#B06261;
    @extend %font-sans-serif;
    font-size:em(12);
    a {
      color:#B06261;
      &:hover {
        color:lighten(#B06261, 10%);
      }
    }
    img {
      float:left;
      margin:.25em 1em .25em 0;
    }
  }
  .footer__section--stacked {
  }
  @include media($tablet) {
    .footer__inner {
      padding-left:0;
      padding-right:0;
    }
    .footer__section {
      @include span-columns(10);
      @include shift(1);
    }
  }
  @include media($desktop) {
    .footer__inner {
      @include span-columns(10);
      @include shift(1);
    }
    .footer__section {
      @include span-columns(4);
      @include shift(0);
      &.footer__section--stacked {
        @include omega;
      }
    }
  }
}

.linklist {
  .linklist__item {
    display:inline;    
    &:before {
      content:' | ';
    }
    &:first-child:before {
      content:'';
    }
  }
}


