html {
  color:#333;
  background:#F5F5F5;
  @extend %font-serif;
  font-size:16px;
  @include media($tablet) {
    font-size:18px;
  }
  @include media($desktop) {
    font-size:20px;
  }
}

.page {
  overflow-x:hidden;
}

.header {
  position:fixed;
  padding:5px 0;
  z-index:25;
  top:0;
  left:0;
  width:100%;
  background:#F5F5F5;
  border-bottom:1px solid #949494;
  @include media($desktop) {
    position:relative;
    @include span-columns(4);
  }
}

.logo {
  text-align:center;
  .logo__heading {
    color:#333;
    font-size:$scale;
    @extend %font-sans-serif-super-bold;
    text-transform:uppercase;
    em {
      text-transform:lowercase;
      font-style:italic;
      color:#C43331;
      @extend %font-serif;
      padding:0 .1em;
      font-size:$scale1;
    }
  }
  @include media($tablet) {
  }

}

.toggle {
  cursor:pointer;
  &[data-target="aside"] {
    position:absolute;
    top:22px;
    right:5%;
    font-size:24px;
    color:#949494;
    background:none;
    border:none;
    padding:0;
    margin:0;
    @include transition(color .5s ease-in-out);
    &:before {
      @extend %icon-menu;
    }
    @include media($desktop) {
      display:none;
    }
  }
}

.aside {
  @include transition(all .5s ease-in-out);
  box-shadow:2000px 0px 0px 2000px rgba(50, 50, 50, 0);
  width:250px;
  left:-250px;
  padding-top:59px;
  position:relative;
  position:fixed;
  background: #666;
  height:100%;
  z-index:20;
  @include media($desktop) {
    position:relative;
    @include span-columns(4);
    left:0;
    clear:left;
  }
}

.overlay {
  background:#000;
  @include transition(opacity .5s ease-in-out);
  opacity:0;
  height:100%;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:10;
}

.main {
  position:relative;
  @include transition(left .5s ease-in-out);
  padding-left:5%;
  padding-right:5%;
  width:100%;
  padding-top:59px;
  left:0;
  @include media($desktop) {
    padding-left:0;
    padding-right:0;
    float:left;
    @include span-columns(8);
    @include omega;
    padding-top:0;
  }
}


.navigation {
  .navigation__item {
    height:50px;
    line-height:50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .navigation__link {
    color:#FFF;
    display:block;
    padding-left:20px;
    text-transform:uppercase;
    @extend %font-sans-serif-bold;
  }
}

.active--aside {
  .aside {
    left:0;
  }
  .main {
    left:250px;
  }
  .toggle[data-target="aside"] {
    color:#DD9493;
  }
}

.active--overlay {
  .aside {
    box-shadow:2000px 0px 0px 2000px rgba(50, 50, 50, 0.9);
  }
}

.article {
  margin-top:$scale2;
  margin-bottom:$scale4;
  .article__title {
    font-style:italic;
    font-size:$scale2;
    line-height:$scale;
    text-align:center;
    em {
      @extend %font-sans-serif-super-bold;
      text-transform:uppercase;
    }
  }
  .article__byline {
    margin:$scale2 0 $scale;
    border-top:1px solid #333; 
    display:block;
    font-size:$scale;
    text-align:center;
  }
  .article__timestamp {
    position:relative;
    background:#F5F5F5;
    top:-$scale-1;
    padding:0 1em; 
  }
  .article__body {
    font-size:$scale;
    line-height:$scale1;
    a {
      color:#C43331;
    }
    p {
      margin:$scale 0;
    }
    code {
      position:relative;
      top:-$scale-1;
      font-size:$scale-1;
      color:#C43331;
      padding:0 $scale-4;
    }
  }
  @include media($tablet) {
    .article__title {
    }
  }
  @include media($desktop) {
    .article__title {
      em {
      }
    }
  }
}
