---
layout: layout_page
---

<div class="search">

  <form class="search__form">
    <input class="search__input" type="search" placeholder="" required="required" />
    <input class="search__submit" type="submit" value="Go" />
  </form>

  <div class="search__results"></div>

</div>
